{% load apptags %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}Resto Manager{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/offcanvas.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/resto_manager.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/dashboard.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/timepicker.css" rel="stylesheet" />

	<style>
		a.ui-state-default, a.ui-state-active {
			box-sizing: content-box;
		}
	</style>
	
	<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery_ui.css" />
	
	{% block css %}{% endblock %}
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery_ui.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/timepicker.js"></script>
	
	{% if not user.is_superuser and user.get_profile %}
		<script type="text/javascript" src="{{STATIC_URL}}js/offcanvas.js"></script>
	{% endif %}
	
    <script type="text/javascript" src="{{STATIC_URL}}js/docs.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/notify.js"></script>
	
	<script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/tourist.js"></script>
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery_form.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/resto_manager.js"></script>
	
	{% block js %} {% endblock %}
	
	{% block extrastyle %}{% endblock %}		

	{% block extrahead %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Resto Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			{% if user.is_authenticated %}
				<!-- Seuls les clients et l'entrepreneur peuvent commander ou gérer un compte normal -->
				{% if user.is_superuser or user.user_profile != "" %}
					<li><a id="gerer_compte" href="/comptes/manage">{{user.first_name}} {{user.last_name}}</a></li>
				{% endif %}
				
				{% if not user.is_superuser and user.get_profile %}
					<li><a id="passer_commande" href="/commandes/passer-commande/">Passer Commande</a></li>
					<li><a id="mes_commandes" href="/commandes/mes_commandes/">Mes commandes</a></li>
				{% endif %}
				
				<!-- Les restaurateurs gèrent leur compte de façon différente -->
				{% if user.restaurateur != "" %}
					<li><a id="gerer_compte" href="/restaurateurs/manage">{{user.first_name}} {{user.last_name}}</a></li>
					<li><a id="self_manage_restaurants" href="/restaurants/self_manage">Mes restaurants</a></li>
				{% endif %}
				
				{% if user.livreur != "" %}
					<li><a id="gerer_compte" href="/livreurs/manage">{{user.first_name}} {{user.last_name}}</a></li>
					<li><a id="livreur_commandes" href="/directions/itineraire">Commandes prêtes</a></li>
					<li><a id="livreur_mes_commandes" href="/livreurs/mes_commandes">Carnet de livraison</a></li>
				{% endif %}
				
				{% if user.is_superuser %}
					<li><a id="gerer_restaurants" href="/restaurants/">Restaurants</a></li>
					<li><a id="gerer_restaurateurs" href="/restaurateurs/">Restaurateurs</a></li>
					<li><a id="gerer_livreurs" href="/livreurs/">Livreurs</a></li>
				{% endif %}

				<li><a id="deconnecter" href="/comptes/logout">Se déconnecter</a></li>
			{% else %}
				<li><a href="/comptes/createuser">Créer compte</a></li>
				<li><a href="/comptes/login">Se connecter</a></li>
			{% endif %}

          </ul>
        </div>
      </div>
    </div>

	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
		
			{% if not user.is_superuser and user.get_profile %}
			<div class="col-xs-12 col-sm-9">
			{% else %}
			<div class="col-xs-12 col-sm-12">
			{% endif %}
			  <p class="pull-right visible-xs">
			  {% if not user.is_superuser and user.get_profile %}
               <button type="button" class="btn btn-primary btn-xs" style="margin-top: 10px;" data-toggle="offcanvas">Commandes</button>
			   {% endif %}
              </p>
			
			  <div class="page-header">
				<h1>{% block page_header %}Resto Manager{% endblock %}</h1> 
			  </div> <br />
			
			  <div id="messages">
				  {% if messages %}
				  <ul class="messages">
					  {% for message in messages %}
					  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					  {% endfor %}
				  </ul>
				  {% endif %}
			  </div>
			  
			  <div id="divNotificationsCommande">
			  </div>
			  
			  {% block content %}{% endblock %}
			</div>
			
			{% if not user.is_superuser and user.get_profile %}
				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
				  <div class="list-group">
					<h4 class="list-group-item active" style="color: white;">Commandes à confirmer</h4>
					
					<div id="target-commandes">
						{% for restaurant_id in request.session.restaurants %}
							<div id="target-restaurant-{{restaurant_id}}">
								<form id="sidebar-form-restaurant-{{restaurant_id}}" target="">
									<h5 class="list-group-item heading" style="background-color: lightgray;">{{request.session.noms_restaurants|get_item:restaurant_id}}</h5>
									
									{% with repas_list=restaurant_id|get_repas_list %}
										{% for repas in repas_list %}
											<div>
											{% with repas_id=repas.id|int_to_string restaurant_id=restaurant_id|int_to_string %}
												{% with qty=request.session.restaurants|get_item:restaurant_id|get_item:repas_id %}
													{% if qty %}
														<input onkeydown="return isNumber(event)" data-price="{{repas.prix}}" data-id="{{repas.id}}" data-restaurant="{{restaurant_id}}" class="repas_qty" name="{{repas_id}}" value="{{qty}}" style="width: 30px; margin-right:5px;">
														{{repas.nom}}
														($<label id="price_{{repas.id}}">{% multiply qty repas.prix %}</label>)
													{% endif %}
												{% endwith %}
											{% endwith %}
											</div>
										{% endfor %}
									{% endwith %}
									<br />
									
									<strong>Total: <label id="lblTotal_{{restaurant_id}}">${{total}}</label></strong> <br />
									
									<br />
								</form>
							
								<a data-restaurant="{{restaurant_id}}" class="btn btn-success btn-confirm-commande"
								data-toggle="modal"
								data-target="#modalConfirmerCommande">Commander</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	
	<div class="modal fade" id="modalConfirmerCommande" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">Confirmation de commande</h4>
				</div>
				<div class="modal-body" id="divConfirmerCommande">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
					<button type="button" id="btnConfirmerCommande" data-dismiss="modal" class="btn btn-success">Oui</button>
				</div>
			</div>
	  </div>
	</div>
  </body>
</html>
